.modal{:id => "modal_#{object.class}#{object.id}"}
  .modal-header
    %button{:class => "close", :'data-dismiss' => "modal", :'aria-hidden' => true, :type => "button"}
      &times;
    %h3 
      = title
  .modal-body
    = render body
  .modal-footer
    = render footer