!!! 5
%html(lang="en")
  = render 'shared/meta'
  %body
    .container-fluid

      .row-fluid
        .span3.sidebar-nav
          = link_to "SZ", root_path, :class => "brand"     
          %ul.nav.nav-list
            =render 'shared/galleries'
            %li= link_to "About", about_path, :class=> 'about'
          = render 'shared/about_snippet'
          = render 'shared/twitter_btn'
        .span8.offset3.main
          = render 'shared/flash', :flash => flash
          = yield
    
      %footer
        %p &copy; Company 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
